<div class="container" >
  <h1>Create Task</h1>

<%= form_with model: @task do |form| %> 
  <div class="form-group">
    <%= form.label :title, class: "form-label" %> <br>
    <%= form.text_field :title, class: "form-control" %> 
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %> <br>
    <%= form.text_area :description, class: "form-control" %>
    <% @task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status,  selected: ['in-progress' , 'completed', 'paused'] %>
  </p>

  <%= form.hidden_field :users, value: @users.ids %>

  <select name="users[]" multiple="multiple" >
    <%= @users.each do |user| %>
      <option value="<%= user.id%>" > <%= user.email %> </option>
    <% end %>
  </select>

  <div>
    <%= form.submit %>
  </div>

  <% end %>

  </div>